.sidebar {
    width: 250px;
    height: 100vh;
    background-color:gray;
    color: white;
    padding: 10px;
    transition: width 0.3s ease;
  }
  
  .sidebar.collapsed {
    max-width: 80px; /* Adjust width when collapsed */
    
  }
  
  .sidebar-toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    width: unset !important;
    margin: 0 !important;
    padding: 15px;
  }
  
  .sidebar_list {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar_item {
    margin: 10px 0;
  }
  
  .menu-item-header {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    font-size: 20px;
padding: 15px;
  }
  
  .menu-text {
    display: inline-block;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: Arial;
  }
  
  .sub-menu {
    margin-left: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .sub-menu li {
    margin: 5px 0;
  }
  
  .sub-menu li a {
    color: white;
    text-decoration: none;
  }
  
  .sub-menu li a:hover {
    text-decoration: underline;
  }
  
  .sidebar_item.active a {
    font-weight: bold;
    font-size: 18px;
  }
  
  .collapsed .menu-text {
    opacity: 0; /* Hide text when collapsed */
  }
  
  .collapsed .menu-icon {
    margin-right: 0; /* Adjust icon margin when collapsed */
  }
  